// colors
$white:#f0f8ff;
$green:#57b846;
$blue:#2e2eeb;
$red:#db1818;

// sizes
$xs: 0.5rem;
$normal:1rem;
$sm:1.5rem;
$md:2rem;
$lg:3rem;
$xl:5rem;
$xxl:7rem;

// 
$button-radius:30px;

//fonts
$quicksand: 'Quicksand',sans-serif;
